.custom-fit-content{
  width: fit-content;
}
.flex-custom{
  display: flex;
  align-items: center;
}
.skeleton{
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0%{
    background-color: hsl(206, 62%, 24%);
  }
  100%{
    background-color: hsl(206, 62%, 24%);
  }
}
.skeleton-mobile{
  display: none;
}
@media screen and (max-width: 450px) {
  .flex-custom{
    flex-direction: column;
  }
  .skeleton{
    display: none;
  }
  .skeleton-mobile{
    animation: skeleton-loading 1s linear infinite alternate;
  }
  @keyframes skeleton-loading {
    0%{
      background-color: hsl(206, 62%, 24%);
    }
    100%{
      background-color: hsl(206, 62%, 24%);
    }
  }
}