<div class="flex w-full justify-center items-center">
  <form (ngSubmit)="searchProfile($event)">
    <input
    type="text"
    class="py-2 px-4 border border-gray-300 rounded-l-md focus:outline-none focus:border-blue-500"
    placeholder="Github username"
    [(ngModel)]="username"
    name="username"
  />
  <button
    class="py-3 px-4 bg-[#191700] text-white rounded-r-md hover:bg-[#692f02] focus:outline-none"
    type="submit"
  >
    <i class="fas fa-search"></i>
  </button>
  </form>
</div>
